.fullText{
    color: white;
}

.bodyText{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 125%;
    line-height: 1.3;
    color: white;
}

.indivList{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 125%;
    line-height: 1.3;
    color: white;
}

.bodyTextHeader{
    margin-left: 15%;
    font-size: 250%;
    
}

.block{
    height: 8px;
    margin-left: 15%;
    width: 15%;
}

table, td{
    border: 1px solid white;
}

table{
    margin-left: 15%;
    width: 65%;
}

td{
    padding: 1%;
    font-size: 120%;
}

.chartHeader{
    font-size: 150%;
}

.bigText{
    font-size: 200%;
    color: white;
    margin-left: 15%;
    font-weight: bold;
}

@media only screen and (orientation: portrait){
    .bodyText{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 4vw;
        line-height: 1.3
    }

    .bigText{
        font-size: 5.5vw;
        color: white;
        margin-left: 5%;
        font-weight: bold;
    }

    .indivList{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 4vw;
        line-height: 1.3;
        color: white;
    }
    
    
    
    .bodyTextHeader{
        margin-left: 5%;
        font-size: 6.5vw;
        
    }
    
    .block{
        height: 4px;
        margin-left: 5%;
        width: 30%;
    }
    
    table, td{
        border: 1px solid white;
    }
    
    table{
        margin-left: 5%;
        width: 90%;
    }
    
    td{
        padding: 1%;
        font-size: 4vw;
    }
    
    .chartHeader{
        font-size: 4.5vw;
    }
}