#mainText{
    color: white;
    
}

body{
    font-family: 'Quicksand', sans-serif;
    width: 102%;
    margin-left: -1%;
    
}

body::selection{
    background-color: orange;
}

#topImg{
    opacity: 0.25;
    width: 110vw;
    margin-left: -5%;

}

.fetchingMsg{
    color: white;
    font-size: 250%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    opacity: 0.6;
}

#mainTextCenter{
    color: white;
    font-size: 400%;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#subTextCenter{
    opacity: 0.9;
    font-size: 175%;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    line-height: 1.3;
    font-weight: bold;
}

#searchBar{
    width: 50%;
    margin-left: 25%;
    font-size: 175%;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    transition: 0.5s;
    outline: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

#form{
    display: flex;
    width: 60%;
    margin-left: 20%;
}

#submit{
    width: 20%;
    background: transparent;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
    transition: 0.5s;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#submit:hover{
    cursor: pointer;
}

#mainDisplayComponents{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

#mainDisplay{
    position:relative;
    margin-bottom: 2%;
}

#nextLine{
    font-size: 2vw;
    text-align: center;
    color: white;
    margin-top: 4%;
}

#playRandom{
    font-size: 2vw;
    color: white;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
    border: transparent;
    transition: 0.5s;
}

#playRandom:hover{
    cursor: pointer;
}

#form{
    margin-top: 5%;
}

.uploadHeader{
    font-size: 300%;
    font-weight: bold;
    padding-right: 0%;
    padding-bottom: 2%;
    margin: 0;
    text-align: center;
    background-color: black;
}

.uploadHeaderGradient{
    width: 35%;
    text-align: center;
   
    font-weight: bold;
    padding: 0 0 0.6% 0;
  
    margin: 1% 32.5% 5% 32.5%;
}

.breakGradient{
    height: 10px;
}

#asOfNow{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 5%;
}

.viewSwitcherOption{
    font-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;
    
}

.viewSwitcherSelector{
    font-size: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;
}


.viewSwitcher{
    position: absolute;
    width: 17%;
    margin-left: 75%;
    margin-bottom: 2%;
    margin-top: -5%;
    display: flex;
    font-size: 150%;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: none;

}

.viewBy{
    margin-right: 0%;
    width: 70%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.viewSwitcherSelector, .viewSwitcherOption{
    padding: 0.5% 2% 0.5% 2%;
}

#searchPreviewer{
    position: absolute;
    border: 1px solid white;
    margin: -9.8% 25% 0 25.5%;
    box-sizing: border-box;
    width: 51%;
    background-color: black;
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
}

.individualSearchPrediction{
    font-size: 2vw;
    display: block;
    padding: 2% 0 2% 2%;
    color: white;
    text-decoration: none;
    box-sizing: border-box
    
}

.individualSearchPrediction:hover{
    background-color: grey;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (orientation: portrait){
    #mainTextCenter{
        font-size: 10vw;
        line-height: 1.15;
    }


    #subTextCenter{
        font-size: 4vw;
        width: 80%;
        margin-left: 10%;
        opacity:1;
    }
    
    #topImg{
        width: 240%;
        margin-left: -60%;
    }

    #searchBar{
        box-sizing: border-box;
        font-size: 5vw;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: bold;
        border-radius: 0;
    }

    .uploadHeaderGradient{
        box-sizing: border-box;
        width: 70%;
        margin-left: 15%;
        padding: 0 0% 1.2% 0%;
        margin-bottom: 7%;
        margin-top: 5%;
    }
    
    .uploadHeader{
        font-size: 8vw;
        text-align: center;

        margin: 0;
        padding: 0;
        padding-bottom: 2%;
    }

    .viewSwitcher{
        display: none;
    }
    
    #searchPreviewer{
        position: absolute;
        width: 81.6%;
        box-sizing: border-box;
        margin: -16.5% 10.17% 0 10.17%;
        max-height: 200px;
    }

    .individualSearchPrediction{
        font-size: 3.5vw;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
