.outerGradient{
    margin-left: 7.5%;
    margin-right: 2%;
    color: white;
    z-index: -1;
    margin-bottom: 5%;
    
}

/*.previewContainer:hover{
    background-color: 
    #242323
    
}*/

.previewContainer{
    background-color: black;
    margin-left: 0.5%;
    
    display: flex;
}


.image{
    filter: brightness(0.9);

    margin-top: auto;
    margin-bottom: auto;
}

#block-div-song-preview{
    display: flex;
}

#flex-song-preview-right{
    width: 92%;
}

#flex-song-preview-left{
    height: auto;
    position: relative;
    width: 8%;
    font-size: 5vw;
    color: gray;
    text-align: center;
    transition: 0.3s;
    /*background-color: gray;*/
}

#flex-song-preview-left:hover{
    
    cursor: pointer;
}

#flex-song-preview-left:hover #angledBracket{
    transition: 0.3s;
    cursor: pointer;
    color: white
}

#angledBracket{
    padding-top: -1%;
    margin: 0;
    transition: 0.3s;
    -webkit-user-select: none;
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    /*background-color: green;*/

}

.link{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 2.75vw;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1.5%;
    font-family: 'Mulish', sans-serif;
  
    transition: 0.5s;
    background-clip: text;
}

.containerRight{
    width: 100%;
}

#hidden-div-song-preview{
    margin-left: 8%;
}

.songDesc{
    font-size: 1.55vw;
    opacity: 0.75;
    margin: 0;
    line-height: 1.5;
    z-index: -1;
    color: white;
}

#show-more-song-preview{
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
}

.statisticsDiv{
    display: flex;
    margin-top: 2%;
    margin-bottom: 0;
    opacity: 0.9;
    width: auto;
    -webkit-user-select: none;
    z-index: -1;
}

.ratingsDiv1{
    display: flex;
    font-size: 1.6vw;
    width: 30%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.9;
}

.bar1{
    margin-left: 3%;
    
}

.number1{
    padding-left: 3.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-weight: bold;
}

button{
    background-color: black;

    font-size: 1.55vw;
    color: white;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
    opacity: 0.9;
    border-radius: 125px;
    width: 20%;
}

button:hover{
    cursor: pointer;
}

#ratingText1{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.6vw
}

#numRatings1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    font-size: 1.55vw
}

#numDownloads{
    font-size: 1.8vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

#downloadIcon{
  
    margin-bottom: 0;
    padding-bottom: -5%;
    font-size: 1.8vw;
    margin-right: 3%;
}

#numDownloadsDiv, #numNotesDiv{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-size: 1.5vw;
}

.spanBox{
    padding: 0.4% 0.7% 0.4% 0.7%;
    font-weight: bold;
    font-size: 1.5vw;
    margin-right: 2%;
    opacity: 0.8;
}

.availableAsDiv{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
    -webkit-user-select: none;
}

#availabilityText{
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5%;

}

audio{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.audioPlayer{
    width: 27.5%;
    margin-left: 0;
    margin-right: 0;
    font-size: 5vw;
}

.portrait-outer-container{
    color: white;
    background-color: #2b2b2b;
    margin-left: 10%;
    width: 80%;
    /*box-shadow: 5px 5px 15px #474747;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 0%;
}

.portrait-outer-link-holder{
    height: 115px;
}

.portrait-link{
    font-size: 1.825vw;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top:-4%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
}

.portrait-description{
    font-size: 100%;
    margin-bottom: -1%;
    opacity: 0.7;   
}

.portrait-show-more{
    border-top: 2px solid gray;
    text-align: center;
    font-size: 110%;
    padding: 2% 0 2% 0;
    opacity: 0.7;
    margin: 0;
    -webkit-user-select: none;
}

.portrait-show-more:hover{
    opacity: 1;
    cursor: pointer;
}

.portrait-thumbnail{
    width: 100%;
    margin: 0;
}

.portrait-audio-player{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    
}

.portrait-ratings-div{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    font-size: 115%;
    opacity: 0.8;
}

.portrait-rating-bar{
    width: 85%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.portrait-rating-value{
    padding: 1% 0 1% 3.5%;
    margin: 0;
    font-weight: bold;
    border-radius: 10px;
}

#portrait-rating-numRatings{
    width: 15%;
    text-align: right;
    padding: 0;
}

.portrait-description{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 3%;
}

#portrait-misc-div{
    margin-left: 7.5%;
    opacity: 0.7;
    font-size: 115%;
    font-family: "Titillium Web", sans-serif
}

.portrait-span-box{
    width: fit-content;
    padding: 1% 2% 1% 2%;
    margin: 0 5% 3% 0;
    font-size: 1.35vw;
    text-decoration: none;
    -webkit-user-select: none;
    font-weight: bold;
}

.portrait-span-box:hover{
    cursor: pointer;
}

#portrait-available-files{
    margin-left: 7.5%;
    width: 85%;
    margin-top: 5%;
}



